/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles */

body {
  background-color: #60DFE5;
  font-family: 'Roboto', serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid #FFF;
  width: 200px;
}

.card {
  max-width: 550px;
  margin: 100px auto 0;
  text-align: center;
}

.name {
  color: #FFF;
  font-size: 36px;
  margin: 20px 0;
}

.icons a {
  color: #fff;
  display: inline-block;
  padding: .938rem;
  margin: .125rem;
  border-radius: 50%;
  border: .125rem solid #fff;
  line-height: 0;
  transition: all .7s;
}

.icons a:hover {
  background: #fff;
  color: #60DFE5;
}

.icons i {
  width: 34px;
  display: inline;
  list-style-type: none;
  float: left;
}

.icons {
  font-size: 34px;
  color: #FFF;
  list-style-type: none;
  margin: 0 auto;
}

footer {
  display: none;
}